aniso8601==8.1.1
click==8.1.0
dnspython==2.2.1
email-validator==1.1.3
Flask==2.1.0
Flask-GraphQL==2.0.1
flask-mongoengine==1.0.0
Flask-WTF==1.0.0
graphene
graphene-mongo
graphql-core
graphql-relay
graphql-server-core
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
iso8601==1.0.2
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
mongoengine==0.24.1
promise==2.3
pymongo==4.0.2
python-dotenv==0.20.0
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
Werkzeug==2.1.0
WTForms==3.0.1
zipp==3.7.0
